<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkki app</title>
        <meta charset="utf-8"/>
    </head>   

    <body>
        <h3>Lisää uusi vinkki </h3>

        <form action="/vinkit" method="post">
            <label>Kirjan tai artikkelin otsikko: </label><br/>
            <input type="text" name="otsikko"/><br/>
            <label>Tekijä </label><br/>
            <input type="text" name="tekija"/><br/>
            <label>Vinkin kuvaus </label><br/>
            <input type="text" name="kuvaus"/><br/>
            <label>Vinkin linkki </label><br/>
            <input type="text" name="linkki"/><br/>
            <label>Tagit </label><br/>
            <input type="text" name="tagit"/><br/>
            <input type="submit" name="addVinkki" value="Lisää"/><br/>
        </form>
    </body>
</html>