<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vinkki app</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <style th:replace="~{/header :: style}">Header</style>

    </head>   

    <body>
        <div th:replace="~{/header :: header}">Header</div>

        <div class="container">
            <h3>Lisää uusi vinkki </h3>

            <form action="/vinkit" method="post">

                <div class="form-group">
                    <label for="otsikko">Kirjan tai artikkelin otsikko: </label><br/>
                    <input type="text" class="form-control" name="otsikko" id="otsikko"/><br/>
                </div>

                <div class="form-group">
                    <label for="tekija">Tekijä </label><br/>
                    <input type="text" class="form-control" name="tekija" id="tekija"/><br/>
                </div>

                <div class="form-group">
                    <label for="kuvaus">Vinkin kuvaus </label><br/>
                    <input type="text" class="form-control" name="kuvaus" id="kuvaus"/><br/>
                </div>

                <div class="form-group">
                    <label for="linkki">Vinkin linkki </label><br/>
                    <input type="text" class="form-control" name="linkki" id="linkki"/><br/>
                </div>
                <div class="form-group">
                    <label for="tagit">Tagit </label><br/>
                    <input type="text" class="form-control" name="tagit" id="tagit"/><br/>
                </div>
                <input type="submit" class="btn btn-success" name="addVinkki" value="Lisää"/><br/>
            </form>

        </div>
    </body>
</html>