<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vinkki app</title>
        <meta charset="utf-8"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>   

    <body>
        <div class="container">
            <h3>Muokkaa vinkkiä</h3>

            <form action="/muokattu/:id" method="post">
                
                <div class="form-group">
                    <label for="otsikko">Muokkaa otsikkoa: </label><br/>
                    <input type="text" class="form-control" name="otsikko" id="otsikko" th:value="${vinkki.otsikko}"/><br/>
                    <input type="hidden" class="form-control" name="id" id="id" th:value=${vinkki.id}/>
                </div>
                <div class="form-group">
                    <label for="tekija">Muokkaa tekijää:</label><br/>
                    <input type="text" class="form-control" name="tekija" id="tekija" th:value="${vinkki.tekija}"/><br/>
                </div>
                <div class="form-group">
                    <label for="kuvaus">Muokkaa kuvausta:</label><br/>
                    <input type="text" class="form-control" name="kuvaus" id="kuvaus" th:value="${vinkki.kuvaus}"/><br/>
                </div>
                <div class="form-group">
                    <label for="linkki">Muokkaa linkkiä:</label><br/>
                    <input type="text" class="form-control" name="linkki" id="linkki" th:value="${vinkki.linkki}"/><br/>
                </div>
                <div class="form-group">
                    <label for="tagit">Muokkaa tageja:</label><br/>
                    <input type="text" class="form-control" name="tagit" id="tagit" th:value="${vinkki.tagit}"/><br/>
                </div>
                <input type="submit" class="btn btn-success" name="action" value="Tallenna muutokset"/><br/>
            </form>

            <a href="/">Takaisin pääsivulle</a><br />
        </div>
    </body>
</html>