<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vinkki app</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>   

    <body>
        <div class="container">
            <h3 th:text="${vinkki.otsikko}">Otsikko</h3>
            Tekijä:
            <span th:text="${vinkki.tekija}">Tekijä</span><br/><br/>
            Kuvaus:
            <span th:text="${vinkki.kuvaus}">Kuvaus</span><br/><br/>
            Linkki:
            <span th:text="${vinkki.linkki}">Linkki</span><br/><br/>
            Tagit:
            <span th:text="${tagit}">Linkki</span><br/><br/>

            <form action="/vinkit:id" method="post">
                <input type="hidden" name="id" th:value="${vinkki.id}"/><br/>
                <input type="submit" class="btn btn-danger"id="removeButton" name="removeButton" value="Poista">

            </form><br/><br/>



            <a href="/">Takaisin pääsivulle</a><br />
        </div>    
    </body>


</html>
