<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkit</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style th:replace="~{/header :: style}">Header</style>

    </head>   

    <body>
        <div th:replace="~{/header :: header}">Header</div>

        <div class="container">
            <h1>Lukuvinkit listana</h1>

            <form action="/vinkit" method="get">
                <p>
                    <label>Etsi vinkkejä joko tageilla tai vapaana sanahakuna. Erottele hakutermit pilkuilla</label>
                    <input type="text" class="form-control" name="searchText">
                </p>
                <p>
                    <input class="form-check-input" type="checkbox" name="notRead" id="notRead" value="notRead">
                    <label class="form-check-label" for="notRead">Näytä vain lukemattomat vinkit</label>
                </p>
                <input class="btn btn-primary" type="submit" name="search" value="Etsi ilman hakusanaa">
                <input class="btn btn-success" type="submit" name="search" value="Etsi tageilla">
                <input class="btn btn-success" type="submit" name="search" value="Vapaa sanahaku">
            </form>

            <p>
                <ul class="list-group">
                    <li th:each="vinkki : ${vinkit}" class="list-group-item">
                        Otsikko:
                        <a th:href="@{~/vinkki/{id}(id=${vinkki.id})}" name="otsikko">
                            <span th:text="${vinkki.otsikko}">Vinkin otsikko</span><br/>
                        </a>
                        Kuvaus:
                        <span th:text="${vinkki.kuvaus}">Vinkin kuvaus</span><br/><br/>
                        Luettu:
                        <span th:text="${vinkki.luettu}">Vinkki luettu</span><br/><br/>
                    </li>
                </ul>
            </p>
        </div>
    </body>
</html>