<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkki app</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <style th:replace="~{/header :: style}">Header</style>

    </head>   

    <body>
        <div th:replace="~{/header :: header}">Header</div>

        <div class="container">
            <h3 th:text="${vinkki.otsikko}">Otsikko</h3>
            Tekijä:
            <span th:text="${vinkki.tekija}">Tekijä</span><br/><br/>
            Kuvaus:
            <span th:text="${vinkki.kuvaus}">Kuvaus</span><br/><br/>
            Linkki:
            <span th:text="${vinkki.linkki}">Linkki</span><br/><br/>
            Tagit:
            <span th:text="${tagit}">Linkki</span><br/><br/>
            Luettu:
            <span th:text="${vinkki.luettu}">Luettu</span><br/><br/>

            <form action="/vinkit/:id" method="post">
                <input type="hidden" name="id" th:value="${vinkki.id}"/><br/>
                <input type="submit" class="btn btn-danger"id="removeButton" name="removeButton" value="Poista">
                    <a th:href="@{~/vinkinMuokkaus/{id} (id=${vinkki.id})}" class="btn btn-success" id="muokkausNappi" value="Muokkaa">Muokkaa</a>
            </form>

            <form action="/luettu/:id" method="post">
                <input type="hidden" name="id" th:value="${vinkki.id}"/><br/>
                <input type="submit" class="btn btn-success"id="luettuButton" name="luettuButton" value="Merkitse luetuksi">
            </form><br/><br/>

            <h3>Syötä uusi kommentti</h3>
            <form action="/kommentit/:vinkkiId" method="post">
                <input type="hidden" name="vinkkiId" th:value="${vinkki.id}"/>
                <label for="nikki">Nimimerkki</label>
                <input type="text" name="nikki" id="nikki" />

                <label for="content">Kommentti</label>
                <input type="text" name="content" id="content" />

                <input type="submit" class="btn btn-success" id="kommentoiButton" name="kommentoiButton" value="Lähetä kommentti">
            </form>

            <h2>Kommentit</h2>

            <ul class="list-group">
                <li th:each="kommentti : ${kommentit}" class="list-group-item">
                    <p>Kirjoittanut <span th:text="${kommentti.nikki}"/> Lähetetty <span th:text="${kommentti.created}"/></p>
                    <p th:text="${kommentti.content}">Kommentin sisältö</p>
                </li>
            </ul>

        </div>    
    </body>
</html>
