<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkit</title>
        <meta charset="utf-8"/>
    </head>   

    <body>
        <h1>Lukuvinkit listana</h1>

        <ul>
            <li th:each="vinkki : ${vinkit}">
                Otsikko:
                <span th:text="${vinkki.otsikko}">Vinkkien otsikot listana</span><br/>
                Kirjoittaja:
                <span th:text="${vinkki.tekija}">Vinkkien tekijät listana</span><br/>
                Kuvaus:
                <span th:text="${vinkki.kuvaus}">Vinkkien kuvaukset</span><br/><br/>
                Linkki:
                <span th:text="${vinkki.linkki}">Vinkkien linkit</span><br/><br/>

            </li>
        </ul>  

        <a href="/">Takaisin pääsivulle</a><br />
        <a href="/newVinkki" name="toNewVinkki">Uusi vinkki</a>
    </body>
</html>